{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
<section class="py-5">
    <div class="container py-5">
        {% if user.ImageName == 'default-user.png' %}
            {% set directory = 'Images' %}
        {% else %}
            {% set directory = 'Upload' %}
        {% endif %}
        <div class="text-center pb-5">
            <img src="{{asset(directory ~'/'~ user.ImageName)}}" class="avatar" alt="Photo de profil">
            <h3>{{user.Name}}</h3>
        </div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <div class="text-center">
            <h1>Modifier votre profile</h1>
        </div>
        {{ form_start(form) }}
            {{ form_row(form.Name) }}
            {{ form_row(form.ImageName) }}
            <div class="text-center">
                <button class="btn btn-secondary btn-lg" type="submit">Modifier</button>
            </div>
        {{ form_end(form) }}
    </div>
</section>
{% endblock %}
