{% extends 'base.html.twig' %} {% block title %}Oublie de mot de passe{%
endblock %} {% block body %}
<section class="pt-5">
  <div class="container pt-5">
    {% for message in app.flashes('success') %}
    <div class="alert alert-success text-center" role="alert">
      {{ message }}
    </div>
    {% endfor %} {% for message in app.flashes('error') %}
    <div class="alert alert-danger text-center" role="alert">
      {{ message }}
    </div>
    {% endfor %}
    <h1 class="text-center">Oublie de mot de passe</h1>
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    <div class="text-center">
      <button class="btn btn-secondary btn-lg">Valider</button>
    </div>
    {{ form_end(form) }}
  </div>
</section>
{% endblock %}
