{% extends 'base.html.twig' %} {% block title %}S'inscrire{% endblock %} {%
block body %}
<section class="pt-5">
  <div class="pt-5 container">
    <h1 class="text-center">S'inscrire</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.name) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword) }}
    <div class="text-center">
      <button class="btn btn-secondary btn-lg">S'inscrire</button>
    </div>
    {{ form_end(registrationForm) }}
  </div>
</section>

{% endblock %}
