<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand">Jimmy Sweat</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarText"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav nav ml-auto nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('home_page') }}">Accueil</a>
        </li>
        {% if not app.user %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_login') }}"
            >Se connecter</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_register') }}"
            >S'inscrire</a
          >
        </li>
        {% endif %} {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
          >
            Admin
          </a>
          <div
            class="dropdown-menu"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <a class="dropdown-item" href="{{ path('style') }}">Styles</a>
            <a class="dropdown-item" href="{{ path('all_comment') }}"
              >Commentaires</a
            >
            <a class="dropdown-item" href="{{ path('invalide_comment') }}"
              >Commentaires à valider</a
            >
          </div>
        </li>
        {% endif %} {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('create_trick') }}"
            >Crée un Trick</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('profile') }}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_logout') }}"
            >Se deconnecter</a
          >
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>