{% extends 'base.html.twig' %}

{% block title %}Hello TricksController!{% endblock %}

{% block body %}
<div class="container pt-5">
    <div class="pt-5">
        {{ form_start(form) }}
            {{ form_row(form.Title) }}
            {{ form_row(form.Description) }}
            {{ form_row(form.StyleId) }}
            {{ form_row(form.Photos) }}
            <button class="btn btn-secondary" type="submit">Créer le trick</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
