{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block body %}
<div class="container py-5">
    <div class="py-5">
        <h1 class="text-center">Trick</h1>
        {{ form_start(form) }}
            {{ form_row(form.Title) }}
            {{ form_row(form.Description) }}
            {{ form_row(form.StyleId) }}
            {{ form_row(form.Photos) }}
            <div class="text-center">
                <button class="btn btn-secondary btn-lg" type="submit">Valider</button>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
