{% extends 'base.html.twig' %}

{% block title %}{{ trick.title }}{% endblock %}

{% block body %}
<div class="container">
  <div class="text-center pt-5">
        <img src="{{asset('Images/default-top.jpg')}}" class="img-fluid" alt="Snowboard">
        <div class="row pt-3">
          {% for photo in photos %}
            <div class="col-3">
              <img src="{{asset('Upload/'~ photo.name)}}" class="img-fluid" alt="Snowboard">
              <a class="btn btn-secondary" href="/tricks/photo/delete/{{photo.id}}/{{trick.id}}">Supprimer</a>
            </div>
          {% endfor %}
        </div>
        <h1 class="card-title">{{ trick.title }}</h1>
        <p class="card-text">{{ trick.description }}</p>
        <h5>Groupe</h5>
        <p class="card-title">{{ trick.StyleId.Name}}</p>
        <a class="btn btn-secondary" href="/tricks/update/{{ trick.id }}">Modifier</a>
        {% for message in app.flashes('success') %}
          <div class="alert alert-success text-center" role="alert">
              {{ message }}
          </div>
        {% endfor %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          {{ form(form) }}
        {% endif %}
        <h1>Tout les commentaires</h1>
        {% for comment in comments %}
          <p class="card-text">Auteur {{ comment.UserId.email }}</p>
          <p class="card-text">Message: {{ comment.Message }}</p>
          <p class="card-text">Date: {{ comment.Date|date("d/m/Y")}}</p>
        {% endfor %}
  </div>  
</div>
{% endblock %}